<div class="container">
  <div class="header">
    <h1 id="bot-name">{{ botName }}</h1>
  </div>
  <div class="signature">
    <span [attr.class]="signatureVerified ? 'valid' : 'invalid'">
      @if(loading) {
      <div class="loader"></div>
      } @else {
      <ng-container
        *ngIf="signatureVerified; then validSvg; else invalidSvg"
      ></ng-container>
      <span class="text"
        >Signature {{ signatureVerified ? "Valid" : "Invalid" }}
      </span>
      }
    </span>
    <div class="did">
      <strong>{{ did }}</strong>
    </div>
  </div>
  <div class="header" *ngIf="!loading">
    <h1>Agent Owner</h1>
  </div>
  <div class="warning-container" *ngIf="!loading">
    <div class="warning">
      <ng-container
        *ngIf="registration.developerDid; then validSvg; else warning"
      ></ng-container>
      <span *ngIf="!registration.developerDid" class="text">{{
        "No registered owner yet"
      }}</span>
      <div *ngIf="registration.developerDid" class="did ml-1">
        <strong>{{ registration.developerDid }}</strong>
      </div>
    </div>
    <button
      *ngIf="!registration.developerDid"
      (click)="signMessage()"
      id="claim-button"
      class="claim-button"
      [disabled]="loading"
    >
      Sign in to claim ownership
    </button>
    <a class="txtlink" *ngIf="registration.developerDid" (click)="proofClick()"> Proof </a>
  </div>

  <div class="info" [innerHTML]="info"></div>
</div>

<ng-template #validSvg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    width="256"
    height="256"
    viewBox="0 0 256 256"
    xml:space="preserve"
    height="24"
    width="24"
  >
    <defs></defs>
    <g
      style="
        stroke: none;
        stroke-width: 0;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: none;
        fill-rule: nonzero;
        opacity: 1;
      "
      transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
    >
      <path
        d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 24.813 0 45 20.187 45 45 C 90 69.813 69.813 90 45 90 z"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-miterlimit: 10;
          fill: rgb(0, 124, 0);
          fill-rule: nonzero;
          opacity: 1;
        "
        transform=" matrix(1 0 0 1 0 0) "
        stroke-linecap="round"
      />
      <polygon
        points="35.86,69.67 17.5,51.31 26.66,42.15 35.86,51.34 63.34,23.87 72.5,33.03 "
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-miterlimit: 10;
          fill: rgb(255, 255, 255);
          fill-rule: nonzero;
          opacity: 1;
        "
        transform="  matrix(1 0 0 1 0 0) "
      />
    </g>
  </svg>
</ng-template>

<ng-template #invalidSvg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    shape-rendering="geometricPrecision"
    text-rendering="geometricPrecision"
    image-rendering="optimizeQuality"
    fill-rule="evenodd"
    clip-rule="evenodd"
    viewBox="0 0 512 512"
    width="24"
    height="24"
  >
    <path
      fill="#A82C1F"
      fill-rule="nonzero"
      d="M256 0c70.686 0 134.69 28.658 181.016 74.984C483.342 121.31 512 185.314 512 256c0 70.686-28.658 134.69-74.984 181.016C390.69 483.342 326.686 512 256 512c-70.686 0-134.69-28.658-181.016-74.984C28.658 390.69 0 326.686 0 256c0-70.686 28.658-134.69 74.984-181.016C121.31 28.658 185.314 0 256 0z"
    />
    <circle fill="#D03827" cx="256" cy="256" r="226.536" />
    <path
      fill="#fff"
      fill-rule="nonzero"
      d="M275.546 302.281c-.88 22.063-38.246 22.092-39.099-.007-3.779-37.804-13.444-127.553-13.136-163.074.312-10.946 9.383-17.426 20.99-19.898 3.578-.765 7.512-1.136 11.476-1.132 3.987.007 7.932.4 11.514 1.165 11.989 2.554 21.402 9.301 21.398 20.444l-.044 1.117-13.099 161.385zm-19.55 39.211c14.453 0 26.168 11.717 26.168 26.171 0 14.453-11.715 26.167-26.168 26.167s-26.171-11.714-26.171-26.167c0-14.454 11.718-26.171 26.171-26.171z"
    />
  </svg>
</ng-template>

<ng-template #warning>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    width="256"
    height="256"
    viewBox="0 0 256 256"
    xml:space="preserve"
    height="24"
    width="24"
  >
    <defs></defs>
    <g
      style="
        stroke: none;
        stroke-width: 0;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: none;
        fill-rule: nonzero;
        opacity: 1;
      "
      transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
    >
      <path
        d="M 87 83.294 H 3 c -1.079 0 -2.075 -0.579 -2.608 -1.518 c -0.533 -0.938 -0.522 -2.089 0.03 -3.017 l 42 -70.588 C 42.963 7.263 43.942 6.706 45 6.706 s 2.037 0.557 2.578 1.466 l 42 70.588 c 0.552 0.928 0.563 2.079 0.029 3.017 C 89.074 82.715 88.079 83.294 87 83.294 z"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-miterlimit: 10;
          fill: rgb(255, 188, 0);
          fill-rule: nonzero;
          opacity: 1;
        "
        transform=" matrix(1 0 0 1 0 0) "
        stroke-linecap="round"
      />
      <path
        d="M 45 63.666 c -1.888 0 -3.419 -1.53 -3.419 -3.419 V 32.693 c 0 -1.888 1.531 -3.419 3.419 -3.419 c 1.888 0 3.419 1.531 3.419 3.419 v 27.554 C 48.419 62.136 46.888 63.666 45 63.666 z"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-miterlimit: 10;
          fill: rgb(63, 63, 63);
          fill-rule: nonzero;
          opacity: 1;
        "
        transform=" matrix(1 0 0 1 0 0) "
        stroke-linecap="round"
      />
      <path
        d="M 45 74.275 c -0.9 0 -1.778 -0.364 -2.416 -1.003 c -0.638 -0.638 -1.003 -1.516 -1.003 -2.416 c 0 -0.228 0.023 -0.444 0.068 -0.672 c 0.045 -0.216 0.102 -0.433 0.194 -0.638 c 0.08 -0.206 0.194 -0.4 0.319 -0.593 c 0.114 -0.183 0.262 -0.353 0.422 -0.513 c 0.16 -0.159 0.331 -0.296 0.512 -0.421 c 0.194 -0.126 0.388 -0.24 0.593 -0.319 c 0.205 -0.08 0.422 -0.148 0.638 -0.194 c 1.117 -0.228 2.291 0.137 3.089 0.934 c 0.638 0.639 1.003 1.516 1.003 2.416 s -0.365 1.778 -1.003 2.416 c -0.16 0.16 -0.331 0.308 -0.524 0.422 c -0.183 0.126 -0.376 0.239 -0.582 0.319 c -0.205 0.091 -0.421 0.148 -0.638 0.194 C 45.444 74.252 45.228 74.275 45 74.275 z"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          stroke-miterlimit: 10;
          fill: rgb(63, 63, 63);
          fill-rule: nonzero;
          opacity: 1;
        "
        transform=" matrix(1 0 0 1 0 0) "
        stroke-linecap="round"
      />
    </g>
  </svg>
</ng-template>
